@use '../../styles/constants' as c;

.password-container {
  height: 100vh;
  background-color: c.$light-gray;
  display: flex;
  align-items: center;
  justify-content: center;

  .password-container-content {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    max-width: 700px;
    width: 100%;
    padding: 24px;
    margin: 0 auto;
    border-radius: 8px;

    input {
      width: 100%;
      padding: 12px;
      font-size: 18px;
      border-radius: 4px;
      outline: none;
      margin-bottom: 15px;
      border: none;
      box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .password-warnings-container {
      display: grid;
      grid-row-gap: 5px;

      .warning-message {
        padding-left: 15px;
        color: c.$gray;
      }
    }

    .strong {
      .warning-message {
        color: c.$green-warning !important;
      }
    }

    .medium {
      .warning-message:not(:last-child) {
        color: c.$yellow-warning !important;
      }
    }

    .easy {
      .warning-message:first-child {
        color: c.$red-warning !important;
      }
    }

    .invalid {
      .warning-message {
        color: c.$red-warning !important;
      }
    }
  }
}

